<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Document</title>
    </head>
    <body>
        {{range .}}
            <h1>{{.Fall.Term}} - {{.AcaYear}}</h1>
            {{range .Fall.Course}}
                <ol>
                    <li>{{.Number}}</li>
                    <li>{{.Name}}</li>
                    <li>{{.Units}}</li>
                </ol>
            {{end}}

            <h2>{{.Spring.Term}} - {{.AcaYear}}</h2>
            {{range .Spring.Course}}
                <ol>
                    <li>{{.Number}}</li>
                    <li>{{.Name}}</li>
                    <li>{{.Units}}</li>
                </ol>
            {{end}}
        {{end}}
    </body>
</html>