<!DOCTYPE html>
<html>
    <head>
        <met charset="UTF-8"/>
        <title>Funcions</title>
    </head>
    <body>
        <ul>
            <li>{{.}}</li>

            <li>{{. | fdbl}}</li>

            <li>{{. | fdbl | fsq}}</li>

            <li>{{. | fdbl | fsq | fsqrt}}</li>
        </ul>
    </body>
</html>