<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Document</title>
    </head>
    <body>
        <h1>{{.Name}}</h1>
        <h2>Breakfast</h2>
        {{range .Breakfast}}
            <ul>
                <li>{{.Plate}}</li>
            </ul>
        {{end}}
        <h2>Lunch</h2>
        {{range .Lunch}}
            <ul>
                <li>{{.Plate}}</li>
            </ul>
        {{end}}
        <h2>Dinner</h2>
        {{range .Dinner}}
            <ul>
                <li>{{.Plate}}</li>
            </ul>
        {{end}}
    </body>
</html>