<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Document</title>
    </head>
    <body>
        {{range .}}
            <ul>{{.}}</ul>
        {{else}}
            <li>NO ITENS</li>
        {{end}}
    </body>
</html>