<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Document</title>
    </head>
    <body>
        <ul>
            {{range .}}
                <li>{{.}}</li>
            {{else}}
                <li>NO ITENS</li>
            {{end}}
        </ul>
    </body>
</html>
    